    <app-navbar></app-navbar>
    <!-- Gif portada -->
    <div class="m-4 d-flex flex-row justify-content-center alig-items-center">
        <h2 class="portada txt-portada center col-10 text-light"></h2>
    </div>

    <!-- Acerca de... -->
    <div class="acercaDe d-flex flex-row justify-content-start align-items-start">
        <div class="col-lg-2 m-2">
            <img src="./assets/images/imagenForo.jpg" class="acercaDe-imagen">
            <h4 style="color: white;">Santiago Alfredo Méndez</h4>
            <p class="">Full Stack Developer Jr.</p>
        </div>

        <div class="col-lg-8 mt-5 m-4">
            <h3>Sobre mí:</h3>
            <p>Hola, soy alguien muy nuevo en todo este mundo, llevo apenas 3 años metido estudiando la carrera de Licenciatura en Sistemas de Información en la Universidad Nacional del Nordeste(UNNE). En mi tiempo libre me gusta hacer ejercicio, jugar algún videojuego o ver una película.</p>
        </div>
    </div>

    <!-- Educacion -->
      <div class=" mt-4 pt-3 pb-3 center-container container">
        <div class="row text-center">
          <h2 class="pb-3" style="color: white;">Educación</h2>
        </div>

        <div class="row">
          <div class="col text-center">
            <img src="./assets/images/ien.jfif" class="educacion-imagen ">
          </div>
          <div class="col">
            <h4>Diseñador Web</h4>
            <p>Institución/Programa: Instituto Educativo Económico Nacional.</p>
            <p>Duración: 4 meses.</p>
            <p>Finalizado: 2021.</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center">
            <img src="./assets/images/codoAcodo.png" class="educacion-imagen ">
          </div>
          <div class="col">
            <h4>Full Stack - Java</h4>
            <p>Institución/Programa: Codo a Codo 4.0.</p>
            <p>Duración: 4 meses.</p>
            <p>Finalizado: 2022.</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center">
            <img src="./assets/images/APLogo-20-20.png" class="educacion-imagen ">
          </div>
          <div class="col">
            <h4>#SéProgramar</h4>
            <p>Institución/Programa: Argentina Programa.</p>
            <p>Duración: 1 mes.</p>
            <p>Finalizado: 2022.</p>
          </div>
        </div>
      </div>

    <!-- Hard and Soft Skills -->
    <div class=" mt-4 pt-3 pb-3 container center-container">

      <div class="row">
        <div class="col">
          <h2 class="card__title pb-3 text-center" style="color: white;">Hard Skills</h2>
          <div class=" d-flex skills__header">
            <span class="skills__start-level">0</span>
            <span class="skills__start-level">10</span>
          </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">HTML</p>
                    <div class="skills__bar skills__bar--80"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">CSS</p>
                    <div class="skills__bar skills__bar--50"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">Bootstrap</p>
                    <div class="skills__bar skills__bar--50"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">JavaScript</p>
                    <div class="skills__bar skills__bar--30"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">Java</p>
                    <div class="skills__bar skills__bar--30"></div>
                  </div>
                </div>
              </article>
            </div>
            <div class="">
              <article class="carta">
                <div class="skills">
                  <div class="skills__item">
                    <p class="skills__tech">Visual Basic</p>
                    <div class="skills__bar skills__bar--50"></div>
                  </div>
                </div>
              </article>
            </div>
        </div>

        <div class="col">
          <h2 class="card__title pb-3 text-center" style="color: white;">Soft Skills</h2>
          <div class=" d-flex skills__header">
            <span class="skills__start-level">0</span>
            <span class="skills__start-level">10</span>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Comunicación clara</p>
                  <div class="skills__bar skills__bar--90"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Trabajo en equipo</p>
                  <div class="skills__bar skills__bar--50"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Adapatación al cambio</p>
                  <div class="skills__bar skills__bar--60"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Gestión de tiempo</p>
                  <div class="skills__bar skills__bar--60"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Responsabilidad</p>
                  <div class="skills__bar skills__bar--80"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Resolución de problemas</p>
                  <div class="skills__bar skills__bar--70"></div>
                </div>
              </div>
            </article>
          </div>
          <div class="">
            <article class="carta">
              <div class="skills">
                <div class="skills__item">
                  <p class="skills__tech">Habilidades interpersonales</p>
                  <div class="skills__bar skills__bar--60"></div>
                </div>
              </div>
            </article>
          </div>
        </div>

      </div>
    </div>
    
    <!-- Proyectos -->
    <div class="container-fluid large-container mt-4 pb-4">
      <div class="row text-center pt-3">
        <h2 class="pb-3" style="color: white;">Proyectos</h2>
      </div>

      <div class="row">
        <div class="col text-center">
          <img src="./assets/images/AP1.png" class="proyectos-imagen ">
          <img src="./assets/images/AP2.png" class="proyectos-imagen ">
          <img src="./assets/images/AP3.png" class="proyectos-imagen ">
        </div>
        <div class="col">
          <h4>Porfolio Argentina Programa</h4>
          <p>Fecha de realización: 2023</p>
          <p>
            Descripción: Realizado durante el cursado de la 2da etapa de Argentina Programa, en sentido de proyecto integrador.
            Consta de una presentación breve conteniendo cosas sobre mí, educación, habilidades y proyectos en los que participé.
          </p>
          <p>Tecnologías utilizadas: HTML - CSS</p>
          <button type="button" class="btn btn-dark">Link del Proyecto</button>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <img src="./assets/images/Principal1.jpg" class="proyectos-imagen ">
          <img src="./assets/images/Tienda.jpg" class="proyectos-imagen ">
          <img src="./assets/images/Informacion-Tienda.jpg" class="proyectos-imagen ">
        </div>
        <div class="col">
          <h4>Aplicación de escritorio Hospital Angeles</h4>
          <p>Fecha de realización: 2022</p>
          <p>
            Descripción: Realizado como proyecto integrador de la materia Taller de Programación 1 de 3er año de la carrera Licenciatura en Sistemas de Información (UNNE).
            Es una página web de venta de zapatillas que cuenta con base de datos, sistema de loggin y de stock, permitiendo realizar compras y un completo CRUD.
          </p>
          <p>Tecnologías utilizadas: HTML - CSS - PHP - SQL - XAMPP</p>
          <button type="button" class="btn btn-dark">Link del Proyecto</button>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <img src="./assets/images/Proyecto_V1_loggin.png" class="proyectos-imagen ">
          <img src="./assets/images/admin.png" class="proyectos-imagen ">
          <img src="./assets/images/usuarios.png" class="proyectos-imagen ">
        </div>
        <div class="col">
          <h4>Aplicación Web Sneakers Society</h4>
          <p>Fecha de realización: 2022</p>
          <p>
            Descripción: Realizado como proyecto integrador de la materia Taller de Programación 2 de 3er año de la carrera Licenciatura en Sistemas de Información (UNNE).
            Es una aplicación de escritorio que permite realizar reserva de turnos y su administración, además de poder administrar al personal en la clínica mediante
            un sistema ABM.
          </p>
          <p>Tecnologías utilizadas: VB - SQL Server</p>
          <button type="button" class="btn btn-dark">Link del Proyecto</button>
        </div>
      </div>

    </div>
<app-footer></app-footer>