<app-navbar></app-navbar>

<div class="container center-container mt-5 mb-5 pt-5 pb-4">
    <div class="" style="text-align:center;">
        <img src="./assets/images/APLogo-20-20.png" class="educacion-imagen">
    </div>
    <div class="">
        <h4 class="p-3">Email</h4>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Dirección de correo</label>
          </div>
          <h4 class="p-3">Contraseña</h4>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
          </div>
    </div>
    <div class="d-grid gap-2 pt-5 mb-4 mt-3">
        <button class="btn btn-dark" type="button">Ingresar</button>
      </div>
</div>

<app-footer></app-footer>